# Quiz Unsupervised Learning

**Import Library**

In [29]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from numpy.linalg import eig
from pylab import rcParams
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
import importlib
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from helper import biplot_pca, plot_elbow, biplot_kmeans, plot_cluster_radar

plt.style.use('seaborn')

C:\Users\SaltFarmer\AppData\Local\Temp\ipykernel_3896\1722899984.py:18: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

**Read Data**

Data sudah tersedia pada folder `data/usarrest.csv`

In [2]:
## Code here
df = pd.read_csv('data/usarrest.csv')
df.head()

       region  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [3]:
df.describe(include='all')

         region    Murder     Assault   UrbanPop       Rape
count        50  50.00000   50.000000  50.000000  50.000000
unique       50       NaN         NaN        NaN        NaN
top     Alabama       NaN         NaN        NaN        NaN
freq          1       NaN         NaN        NaN        NaN
mean        NaN   7.78800  170.760000  65.540000  21.232000
std         NaN   4.35551   83.337661  14.474763   9.366385
min         NaN   0.80000   45.000000  32.000000   7.300000
25%         NaN   4.07500  109.000000  54.500000  15.075000
50%         NaN   7.25000  159.000000  66.000000  20.100000
75%         NaN  11.25000  249.000000  77.750000  26.175000
max         NaN  17.40000  337.000000  91.000000  46.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   region    50 non-null     object
 1   Murder    50 non-null     float64
 2   Assault   50 non-null     int64
 3   UrbanPop  50 non-null     int64
 4   Rape      50 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.1+ KB

**Data Cleansing and Preparation**

- Check Missing Values dan Duplicated

In [6]:
## Code here
df.duplicated().any()

False

- Check Data Types

In [7]:
## Code here
df.dtypes

region       object
Murder      float64
Assault       int64
UrbanPop      int64
Rape        float64
dtype: object

- Select Numerical Values

In [8]:
## Code here
df_num = df.select_dtypes('number')
df_num.head()

   Murder  Assault  UrbanPop  Rape
0    13.2      236        58  21.2
1    10.0      263        48  44.5
2     8.1      294        80  31.0
3     8.8      190        50  19.5
4     9.0      276        91  40.6

- Cek rentang dari value setiap variable dengan menggunakan matrix covariance nya

In [30]:
## Code here
df_num.cov()

              Murder      Assault    UrbanPop        Rape
Murder     18.970465   291.062367    4.386204   22.991412
Assault   291.062367  6945.165714  312.275102  519.269061
UrbanPop    4.386204   312.275102  209.518776   55.768082
Rape       22.991412   519.269061   55.768082   87.729159

**PCA**

1. Buat PC dari dataset USArrest (jangan lupa untuk melakukan scaling data). Lalu, cek kembali informasinya, berapa banyak PC yang akan anda gunakan jika anda hanya menoleransi sekitar 20% saja informasi yang hilang?

- [ ] 3 PC
- [x] 2 PC
- [ ] 1 PC

In [12]:
## Code here for scaling
scaler = StandardScaler()

df_scaled = scaler.fit_transform(df_num.values)

df_scaled = pd.DataFrame(df_scaled, columns=df_num.columns)
df_scaled.head()

     Murder   Assault  UrbanPop      Rape
0  1.255179  0.790787 -0.526195 -0.003451
1  0.513019  1.118060 -1.224067  2.509424
2  0.072361  1.493817  1.009122  1.053466
3  0.234708  0.233212 -1.084492 -0.186794
4  0.281093  1.275635  1.776781  2.088814

In [13]:
## Code here for PCA
# inisialisasi objek PCA
pca = PCA(n_components = df_scaled.shape[1], # jumlah pca yang dihasilkan
          svd_solver='full') # implementasi full svd sehingga mendapatkan semua PC yang terbentuk

pca.fit(df_scaled) # menghitung PCA
# atau dapat menggunakan pca = pca.fit_transform(scale(balance_scaled))

PCA(n_components=4, svd_solver='full')

In [14]:
pca.explained_variance_ratio_

array([0.62006039, 0.24744129, 0.0891408 , 0.04335752])

In [31]:
np.cumsum(np.round(pca.explained_variance_ratio_, decimals=4)*100)

array([ 62.01,  86.75,  95.66, 100.  ])

2. PC 1 merupakan PC yang menampung banyak variable. Sebutkan 1 variable tersebut yang berkontribusi paling banyak pada PC 1 tersebut.

- [x] Assault
- [ ] Urbanpop
- [ ] Rape

In [27]:
## Code here to check least contributes PC
# Dapatkan loadings dari PCA
loadings = pca.components_

# Buat dataframe untuk loadings
loadings_df = pd.DataFrame(data=loadings.T, 
                           columns=pca.get_feature_names_out())

# Tambahkan kolom nama variabel
loadings_df['Variable'] = df_scaled.columns

# Tampilkan loadings yang signifikan (misalnya, absolute loadings > 0.3)
significant_loadings = loadings_df # [abs(loadings_df['pca0']) > 0.2]
significant_loadings.sort_values(by='pca0',ascending=False)

       pca0      pca1      pca2      pca3  Variable
1  0.583184  0.187986 -0.268148 -0.743407   Assault
3  0.543432 -0.167319  0.817778  0.089024      Rape
0  0.535899  0.418181 -0.341233  0.649228    Murder
2  0.278191 -0.872806 -0.378016  0.133878  UrbanPop

In [21]:
pca.get_feature_names_out()

array(['pca0', 'pca1', 'pca2', 'pca3'], dtype=object)

3. Manakah pernyataan dibawah ini yang TIDAK TEPAT mengenai PCA

- [ ] PCA dapat digunakan untuk *exploratory data analysis* dan *data preparation* sebelum modeling
- [ ] PCA perlu scaling, sehingga mereka memiliki rentang skala pengukuran yang sama 
- [x] Komponen Utama dengan nilai eigenvalue 0.6 lebih berguna dibandingkan PC dengan eigenvalue 6.0

4. Manakah pernyataan berikut yang TIDAK TEPAT mengenai Local Outlier Factor (LOF)?
- [ ] Nilai LOF yang tinggi menunjukkan bahwa suatu titik cenderung menjadi outlier dibandingkan dengan sekitarnya.
- [x] LOF mengukur seberapa sering suatu titik mendekati data sekitarnya dibandingkan dengan data sekitarnya itu sendiri.
- [ ] Semakin kecil nilai LOF, semakin kecil kemungkinan titik tersebut menjadi outlier.
- [ ] LOF memperhitungkan kerapatan data pada sekitar titik untuk mengidentifikasi potensi outlier.

5.Unsupervised Learning dapat mempelajari sesuatu dari inputannya sendiri (tanpa target yang perlu dicari).

- [x] BENAR
- [ ] SALAH