## Dive Deeper Practical Statistics

Untuk setiap kasus yang ada jawablah beberapa pertanyaan di berikut:

> 1. Tentukan jenis uji hipotesa yang akan digunakan
> 2. Tentukan hipotesis nol dan hipotesis alternatif
> 3. Bandingkan p-value dengan nilai alpha
> 4. Tulislah kesimpulan Anda

In [2]:
# import library
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

### Kasus 1

Sebuah pabrik susu bubuk melakukan pengecekan terhadap berat produk mereka. Sebelumnya diketahui bahwa rata-rata berat bersih susu adalah **1000 gram** (tertera pada label produk) dan standar deviasi sebesar **30 gram**.

Diambil sampel sebanyak **100 kaleng** dari yang beredar di pasaran dan diperoleh rata-rata berat bersih sebesar **995 gram**.

Apakah benar bahwa berat bersih susu bubuk sudah sesuai dengan kriteria? Ujilah dengan **tingkat signifikansi 5%**.

In [3]:
# code here
mean_p = 1000
std = 30
n = 100
mean_s = 995

norm.cdf((mean_s - mean_p) * (n**0.5) / std)

0.0477903522728147

Tolak $H_0$

### Kasus 2

Quicker merupakan startup yang bertugas untuk membantu para startup lain mendapatkan dana hibah dari pemerintah. Umumnya, lama proses penyerahan berkas hingga dana dicairkan adalah **215 hari**. 

Dikumpulkan data durasi proses pencairan dana dari **10** perusahaan startup yang menggunakan jasa Quicker sebagai berikut: 

```py
durasi_10 = [201, 200, 215, 212, 246, 220, 205, 195, 190, 200]
```

Apakah Quicker bisa secara signifikan mempercepat durasi pencairan dana hibah Gunakan tingkat kepercayaan 97%.

In [4]:
durasi_10 = [201, 200, 215, 212, 246, 220, 205, 195, 190, 200]

In [21]:
# code here
from statsmodels.stats.weightstats import ztest 

t_test = stats.ttest_1samp(a=durasi_10, # data kita
               popmean=215,  #rata-rata 
               alternative='less') #Pemmilihan alternative hypothesisnya

p_value = t_test[1] # ambil nilai p_value dari z_test
p_value

0.11344157395247455

Gagal tolak $H_0$

### Kasus 3

Setelah 3 bulan beroperasi, ingin dimanfaatkan data historis untuk keperluan budget planning. Perusahaan berniat untuk memperkirakan kemungkinan keluarnya nilai **Harga Pokok Penjualan (HPP)** `cogs` **tertentu**.

Jawablah pertanyaan berikut apabila diasumsikan `cogs` berdistribusi secara normal:

1️⃣ Berapa peluang nilai `cogs` kurang dari 100?

In [7]:
# read dataset supermarket.csv
supermarket = pd.read_csv('supermarket.csv')
supermarket.sample(5)

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5,total,date,purchase_hour,payment,cogs,gross_marginpct,gross_income,rating
877,608-05-3804,B,Mandalay,Member,Male,Electronic accessories,39.75,1,1.9875,41.7375,2019-02-25,20,Cash,39.75,4.761905,1.9875,6.1
525,719-89-8991,A,Yangon,Member,Female,Sports and travel,91.41,5,22.8525,479.9025,2019-02-25,16,Ewallet,457.05,4.761905,22.8525,7.1
17,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,2019-01-01,10,Credit card,435.66,4.761905,21.7830,6.9
213,656-16-1063,B,Mandalay,Normal,Male,Sports and travel,46.42,3,6.9630,146.2230,2019-01-04,13,Credit card,139.26,4.761905,6.9630,4.4
327,719-76-3868,C,Naypyitaw,Member,Male,Food and beverages,94.26,4,18.8520,395.8920,2019-03-12,16,Cash,377.04,4.761905,18.8520,8.6

In [10]:
## code here: soal 1

# hitung mean
mean_df = supermarket['cogs'].mean()
print(mean_df)

# hitung standar deviasi
std_df = supermarket['cogs'].std()
print(std_df)

# 2. hitung z-score
zscore = (100 - mean_df) / std_df
print(zscore)

# 3. ubah z-score menjadi peluang -> # hitung peluang cogs < 100
print(norm.cdf(zscore))

307.58738
234.1765096199732
-0.8864568881690028
0.18768568789281542

2️⃣ Berapa peluang nilai cogs di antara 150-500?

In [22]:
# hitung ppeluang batas atas
print(1 - norm.cdf((500 - mean_df) / std_df))

# hitung ppeluang batas bawah
print(norm.cdf((150 - mean_df) / std_df))

# hitung peluang
print(1 - ((1 - norm.cdf((500 - mean_df) / std_df)) + (norm.cdf((150 - mean_df) / std_df))))

0.20563624962261273
0.2504918627249647
0.5438718876524226